<ion-tabs class="tabs-icon-top  tabs-positive">

    <ion-tab title="Products" icon="ion-pizza"  ui-sref="tabs.products">
        <ion-nav-view name="products-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Recipes" icon="ion-android-book" ui-sref="tabs.recipes">
        <ion-nav-view name="recipes-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Shopping list" icon="ion-ios7-paper-outline" ui-sref="tabs.shopping-list">
        <ion-nav-view name="shopping-list-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>