<ion-view title="Shopping list">
    <ion-content class="has-header">
        <ion-list>
            <div class="col col-25 item item-avatar pull-right button button-balanced icon ion-ios7-download-outline"
                 ng-repeat="product in products">
                <img ng-src="{{product.ImageUrl}}"/>
                <strong>{{product.Product.Name}}</strong>
                <br/>
                <small>{{product.Quantity}} {{ product.UnitType}}</small>
            </div>
        </ion-list>
    </ion-content>
</ion-view>