<ion-view title="Shopping list">
    <ion-content class="has-header">
        <ion-list>
            <a class="col col-25 item item-avatar pull-right button button-balanced icon ion-ios7-download-outline" href="#/catalog-products"></a>
            <!--<a class="item item-avatar" ng-repeat="product in shoppingList">-->
                <!--<img src="{{product.ImageUrl}}"/>-->
                <!--<strong>{{product.Name}}</strong>-->
                <!--<br/>-->
                <!--<small>{{product.Quantity}}</small>-->
            <!--</a>-->
        </ion-list>
    </ion-content>
</ion-view>