<ion-view title="Fridge">
    <!--<ion-nav-buttons side="left">-->
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    <!--</ion-nav-buttons>-->
    <ng-include ng-show="isLogged"></ng-include>

    <ion-content class="has-header">
        <ion-list>
            <div class="responsive-sm">
                <a class="item item-avatar " ng-repeat="product in availableProducts"
                   href="#/catalog-product-details/{{product.ProductId}}">
                    <img src="{{product.Product.ImageUrl}}" alt="no image found"/>
                    <strong>{{product.Product.Name}}</strong>
                    <br/>
                    Categoty: <small>{{product.Product.Category.Name}}</small>
                    <br/>
                    Expires in... <strong>{{product.freshness}}</strong> days
                    <br/>
                    <progress style="background-color: green;" max="100" value="{{product.lifetimePercent}}"></progress>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>