<div ng-controller="AvailableProductsCtrl">
    <li class="item item-divider">
        Filter products by:
    </li>
    <li class="item item-toggle">
        Name
        <label class="toggle toggle-balanced">
            <input type="checkbox"
                   ng-model="filter.orderby"
                   ng-true-value="Name"
                   ng-false-value="">

            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        Category
        <label class="toggle toggle-balanced">
            <input type="checkbox"
                   ng-model="filter.expand"
                   ng-true-value="{{category.Id}}"
                   ng-false-value="">

            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li>
        <label class="item item-input">
            <input type="text" placeholder="Search by name..." ng-model="filter.filter"/>
        </label>
    </li>
    <li>
        <button class="button button-block button-positive" ng-click="getProducts()">Filter products
        </button>
    </li>
</div>